In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/82108/OneDrive/바탕 화면/2025_DA 머라머라/insurance_dataset.csv")

In [8]:
df

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,NaN,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,NaN,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,NaN,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,59,male,46.67,2,no,northeast,High blood pressure,NaN,Frequently,Student,Basic,11584.134900
999996,33,male,36.83,2,no,northeast,NaN,High blood pressure,Frequently,Unemployed,Basic,9834.871456
999997,39,male,39.84,0,yes,northeast,Heart disease,High blood pressure,Rarely,Blue collar,Standard,22076.632856
999998,37,female,45.06,4,yes,northeast,High blood pressure,Diabetes,Occasionally,Unemployed,Premium,20297.618728
999999,41,male,30.02,2,yes,northeast,Diabetes,Heart disease,Occasionally,Blue collar,Standard,23429.725030

In [10]:
# 수치형 변수 생성
df.describe(include="all")

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
count,1000000.000000,1000000,1000000.000000,1000000.000000,1000000,1000000,749238,749596,1000000,1000000,1000000,1000000.000000
unique,NaN,2,NaN,NaN,2,4,3,3,4,4,3,NaN
top,NaN,male,NaN,NaN,yes,northeast,Heart disease,Heart disease,Rarely,Unemployed,Basic,NaN
freq,NaN,500107,NaN,NaN,500129,250343,250121,250035,250538,250571,333515,NaN
mean,41.495282,NaN,34.001839,2.499886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16735.117481
std,13.855189,NaN,9.231680,1.707679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4415.808211
min,18.000000,NaN,18.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3445.011643
25%,29.000000,NaN,26.020000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13600.372379
50%,41.000000,NaN,34.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16622.127973
75%,53.000000,NaN,41.990000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19781.465410
max,65.000000,NaN,50.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32561.560374

In [17]:
# 결측값 x로 표시
df_NaNx = df.fillna('x')
df_NaNx

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,x,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,x,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,x,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,59,male,46.67,2,no,northeast,High blood pressure,x,Frequently,Student,Basic,11584.134900
999996,33,male,36.83,2,no,northeast,x,High blood pressure,Frequently,Unemployed,Basic,9834.871456
999997,39,male,39.84,0,yes,northeast,Heart disease,High blood pressure,Rarely,Blue collar,Standard,22076.632856
999998,37,female,45.06,4,yes,northeast,High blood pressure,Diabetes,Occasionally,Unemployed,Premium,20297.618728
999999,41,male,30.02,2,yes,northeast,Diabetes,Heart disease,Occasionally,Blue collar,Standard,23429.725030

In [19]:
# 유전적 영향력(가족력이 병력에 미치는 영향)
family_personal_correlation = df_NaNx.groupby(['family_medical_history', 'medical_history']).size().unstack(fill_value=0)

family_personal_correlation

medical_history         Diabetes  Heart disease  High blood pressure      x
family_medical_history
Diabetes                   62235          62591                62398  62513
Heart disease              62488          62665                62149  62733
High blood pressure        62234          62590                62322  62678
x                          62378          62275                62913  62838

In [27]:
# 가족 병력과 개인 병력 간의 확률 계산 함수
def calculate_family_to_personal_risk(df_NaNx, family_col, personal_col):
    # 가족 병력 유형 확인
    family_conditions = df_NaNx[family_col].unique()
    
    # 결과를 저장할 딕셔너리 초기화
    risk_probabilities = {}
    
    # 각 가족 병력 조건에 대해 확률 계산
    for condition in family_conditions:
        if condition != "x":  # 가족 병력이 없는 경우는 제외
            # 가족 병력이 있는 경우 필터링
            family_condition_df_NaNx = df_NaNx[df_NaNx[family_col] == condition]
            
            # 개인 병력이 동일한 경우 비율 계산
            total_cases = len(family_condition_df_NaNx)
            matching_cases = len(family_condition_df_NaNx[family_condition_df_NaNx[personal_col] == condition])
            
            # 확률 계산
            risk_probabilities[condition] = matching_cases / total_cases if total_cases > 0 else 0
    
    return risk_probabilities

# 가족 병력이 개인 병력으로 이어지는 확률 계산
risk_probabilities = calculate_family_to_personal_risk(df_NaNx, "family_medical_history", "medical_history")

# 결과 확인
risk_probabilities

{'High blood pressure': 0.24946362239016268,
 'Diabetes': 0.24920216067302803,
 'Heart disease': 0.2506249125122483}

In [28]:
def calculate_family_to_personal_risk(df_NaNx, family_col, personal_col):
    family_conditions = df_NaNx[family_col].unique()
    risk_probabilities = {}

    for condition in family_conditions:
        if condition != "x":
            family_condition_df_NaNx = df_NaNx[df_NaNx[family_col] == condition]
            total_cases = len(family_condition_df_NaNx)
            matching_cases = len(family_condition_df_NaNx[family_condition_df_NaNx[personal_col] == condition])
            risk_probabilities[condition] = matching_cases / total_cases if total_cases > 0 else 0
    return risk_probabilities
            
risk_probabilities = calculate_family_to_personal_risk(df_NaNx, "family_medical_history", "medical_history")

risk_probabilities

{'High blood pressure': 0.24946362239016268,
 'Diabetes': 0.24920216067302803,
 'Heart disease': 0.2506249125122483}

In [ ]:
#결과 : 고혈압, 당뇨, 심장질환 유전률 각 약 24, 24, 25%

In [29]:
# 흡연여부가 심장질환과 고혈압에 미치는 영향
def analyze_disease_by_smoking(df_NaNx, family_col, smoker_col, personal_col, exclude_conditions, target_conditions):
    # 가족 병력에서 특정 조건을 제외한 데이터 필터링
    filtered_df_NaNx = df_NaNx[~df_NaNx[family_col].isin(exclude_conditions)]
    
    # 흡연 여부 그룹화
    smoker_groups = filtered_df_NaNx.groupby(smoker_col)
    
    # 흡연 여부별 목표 병력 조건 비율 계산
    disease_stats = {}
    for group, group_df_NaNx in smoker_groups:
        group_stats = {}
        total = len(group_df_NaNx)
        
        for condition in target_conditions:
            condition_cases = len(group_df_NaNx[group_df_NaNx[personal_col] == condition])
            group_stats[condition] = condition_cases / total if total > 0 else 0
        
        disease_stats[group] = group_stats
    
    return disease_stats

# 분석 설정
exclude_conditions = ["Heart disease", "High blood pressure"]  # 가족 병력에서 제외 조건
target_conditions = ["Heart disease", "High blood pressure"]  # 분석할 개인 병력 조건

# 분석 실행
disease_by_smoking = analyze_disease_by_smoking(
    df_NaNx, "family_medical_history", "smoker", "medical_history", exclude_conditions, target_conditions
)

# 결과 확인
disease_by_smoking

{'no': {'Heart disease': 0.24977497929809542,
  'High blood pressure': 0.25217920048644477},
 'yes': {'Heart disease': 0.24954829631761563,
  'High blood pressure': 0.24892470539326203}}

In [30]:
# 흡연여부가 심장질환과 고혈압에 미치는 영향
def analyze_disease_by_smoking(df_NaNx, family_col, smoker_col, personal_col, exclude_conditions, target_conditions):
    filtered_df_NaNx = df_NaNx[~df_NaNx[family_col].isin(exclude_conditions)]
    smoker_groups = filtered_df_NaNx.groupby(smoker_col)
    
    disease_stats = {}
    for group, group_df_NaNx in smoker_groups:
        group_stats = {}
        total = len(group_df_NaNx)
        
        for condition in target_conditions:
            condition_cases = len(group_df_NaNx[group_df_NaNx[personal_col] == condition])
            group_stats[condition] = condition_cases / total if total > 0 else 0
        
        disease_stats[group] = group_stats
    
    return disease_stats

exclude_conditions = ["Heart disease", "High blood pressure"]  # 가족 병력에서 제외 조건
target_conditions = ["Heart disease", "High blood pressure"]  # 분석할 개인 병력 조건

disease_by_smoking = analyze_disease_by_smoking(
    df_NaNx, "family_medical_history", "smoker", "medical_history", exclude_conditions, target_conditions
)

disease_by_smoking

{'no': {'Heart disease': 0.24977497929809542,
  'High blood pressure': 0.25217920048644477},
 'yes': {'Heart disease': 0.24954829631761563,
  'High blood pressure': 0.24892470539326203}}

In [ ]:
# 결과 : 흡연여부와 별 상관성 찾기 힘듬

In [33]:
# bmi지수 별 당뇨여부
import numpy as np

# BMI와 당뇨병 간의 관계 분석 함수
def analyze_bmi_and_diabetes(df_NaNx, bmi_col, medical_col, target_condition="Diabetes", bins=None):
    # 당뇨병 여부 필터링
    df_NaNx["diabetes"] = df_NaNx[medical_col].apply(lambda x: 1 if x == target_condition else 0)
    
    # BMI 구간 생성 (선택적)
    if bins:
        df_NaNx["bmi_category"] = pd.cut(df_NaNx[bmi_col], bins=bins, labels=False, include_lowest=True)
        grouped = df_NaNx.groupby("bmi_category")
        
        # 각 BMI 그룹에서 당뇨병 비율 계산
        diabetes_by_bmi = grouped["diabetes"].mean()
        return diabetes_by_bmi
    else:
        # 상관계수 계산
        correlation = np.corrcoef(df_NaNx[bmi_col], df_NaNx["diabetes"])[0, 1]
        return correlation

# BMI와 당뇨병 여부 관계 분석 (BMI를 연속 변수로 분석)
bmi_diabetes_correlation = analyze_bmi_and_diabetes(df_NaNx, "bmi", "medical_history")

# BMI를 구간화하여 분석
bmi_bins = [0, 18.5, 25, 30, 35, 40, np.inf]  # BMI 구간 정의
bmi_diabetes_by_category = analyze_bmi_and_diabetes(df_NaNx, "bmi", "medical_history", bins=bmi_bins)

# 결과 확인
bmi_diabetes_correlation, bmi_diabetes_by_category

(-0.001588195316812237,
 bmi_category
 0    0.246202
 1    0.250228
 2    0.249010
 3    0.251156
 4    0.249497
 5    0.248081
 Name: diabetes, dtype: float64)

In [34]:
# bmi지수 별 당뇨여부
import numpy as np

def analyze_bmi_and_diabetes(df_NaNx, bmi_col, medical_col, target_condition="Diabetes", bins=None):
    df_NaNx["diabetes"] = df_NaNx[medical_col].apply(lambda x: 1 if x == target_condition else 0)
    if bins:
        df_NaNx["bmi_category"] = pd.cut(df_NaNx[bmi_col], bins=bins, labels=False, include_lowest=True)
        grouped = df_NaNx.groupby("bmi_category")
        diabetes_by_bmi = grouped["diabetes"].mean()
        return diabetes_by_bmi
    else:
        correlation = np.corrcoef(df_NaNx[bmi_col], df_NaNx["diabetes"])[0, 1]
        return correlation
    
bmi_diabetes_correlation = analyze_bmi_and_diabetes(df_NaNx, "bmi", "medical_history")
bmi_bins = [0, 18.5, 25, 30, 35, 40, np.inf]  # BMI 구간 정의
bmi_diabetes_by_category = analyze_bmi_and_diabetes(df_NaNx, "bmi", "medical_history", bins=bmi_bins)

bmi_diabetes_correlation, bmi_diabetes_by_category

(-0.001588195316812237,
 bmi_category
 0    0.246202
 1    0.250228
 2    0.249010
 3    0.251156
 4    0.249497
 5    0.248081
 Name: diabetes, dtype: float64)

In [ ]:
# 결과 : bmi지수가 높을수록 즉 비만도가 높을수록 당뇨 발병률이 높다는 가설은 거짓이다.
# 당뇨와 bmi 관계에서는 가족력에 대한 배제를 하지 않았는가? -> 당뇨라는 질병도 유전률이 높다고 알려져있으며, 비만도 비만유전자가 있다는 것이 과학적으로 밝혀졌으므로 배제시키지 않음(흡연은 개인의 생활습관이므로 개인적인 변수들만 비교.)

In [35]:
# 운동 빈도와 질병 발생률 간의 관계 분석
def analyze_exercise_and_disease(df_NaNx, exercise_col, medical_col):
    # 운동 빈도별 그룹화
    exercise_groups = df_NaNx.groupby(exercise_col)
    
    # 각 그룹의 질병 발생률 계산
    disease_stats = {}
    for group, group_df_NaNx in exercise_groups:
        total = len(group_df_NaNx)
        has_disease = len(group_df_NaNx[group_df_NaNx[medical_col] != "None"])  # 병력이 있는 경우 필터링
        disease_stats[group] = has_disease / total if total > 0 else 0
    
    return disease_stats

# 운동 빈도와 질병 발생률 간의 관계 분석
exercise_disease_relationship = analyze_exercise_and_disease(df_NaNx, "exercise_frequency", "medical_history")

# 결과 확인
exercise_disease_relationship

{'Frequently': 1.0, 'Never': 1.0, 'Occasionally': 1.0, 'Rarely': 1.0}

In [44]:
# 운동 빈도와 질병 발생률 간의 관계 분석
def analyze_exercise_and_disease(df_NaNx, exercise_col, medical_col):
    exercise_groups = df_NaNx.groupby(exercise_col)
    
    disease_stats = {}
    for group, group_df_NaNx in exercise_groups:
        total = len(group_df_NaNx)
        has_disease = len(group_df_NaNx[group_df_NaNx[medical_col] != "None"])
        disease_stats[group] = has_disease / total if total > 0 else 0
    
    return disease_stats

exercise_disease_relationship = analyze_exercise_and_disease(df_NaNx, "exercise_frequency", "medical_history")

exercise_disease_relationship

{'Frequently': 1.0, 'Never': 1.0, 'Occasionally': 1.0, 'Rarely': 1.0}

In [45]:
# 가족 병력과 개인 병력이 일치하지 않는 경우, 개인 병력과 운동 빈도 간의 관계 분석
def analyze_exercise_in_mismatched_cases(df_NaNx, family_col, medical_col, exercise_col):
    # 가족 병력과 개인 병력이 일치하지 않는 경우 필터링
    mismatched_df_NaNx = df_NaNx[df_NaNx[family_col] != df_NaNx[medical_col]]
    
    # 운동 빈도별 그룹화
    exercise_groups = mismatched_df_NaNx.groupby(exercise_col)
    
    # 각 그룹에서 개인 병력 발생 비율 계산
    disease_stats = {}
    for group, group_df_NaNx in exercise_groups:
        total = len(group_df_NaNx)
        has_disease = len(group_df_NaNx[group_df_NaNx[medical_col] != "None"])  # 개인 병력이 있는 경우
        disease_stats[group] = has_disease / total if total > 0 else 0
    
    return disease_stats

# 운동 빈도와 개인 병력 발생률 관계 분석 실행
exercise_mismatched_relationship = analyze_exercise_in_mismatched_cases(
    df_NaNx, "family_medical_history", "medical_history", "exercise_frequency"
)

# 결과 확인
exercise_mismatched_relationship

{'Frequently': 1.0, 'Never': 1.0, 'Occasionally': 1.0, 'Rarely': 1.0}

In [46]:
# 가족 병력과 개인 병력이 일치하지 않는 경우, 개인 병력과 운동 빈도 간의 관계 분석
def analyze_exercise_in_mismatched_cases(df_NaNx, family_col, medical_col, exercise_col):
    mismatched_df_NaNx = df_NaNx[df_NaNx[family_col] != df_NaNx[medical_col]]
    exercise_groups = mismatched_df_NaNx.groupby(exercise_col)
    disease_stats = {}
    for group, group_df_NaNx in exercise_groups:
        total = len(group_df_NaNx)
        has_disease = len(group_df_NaNx[group_df_NaNx[medical_col] != "None"])
        disease_stats[group] = has_disease / total if total > 0 else 0
    
    return disease_stats

exercise_mismatched_relationship = analyze_exercise_in_mismatched_cases(
    df_NaNx, "family_medical_history", "medical_history", "exercise_frequency"
)

exercise_mismatched_relationship

{'Frequently': 1.0, 'Never': 1.0, 'Occasionally': 1.0, 'Rarely': 1.0}

In [47]:
# 결과 : 운동빈도가 발병률(가족력포함)과 개인병력(가족력 제외 데이터) 둘다 상관성이 없다